#menu {
  max-width: 600px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

body {
  background-color: #eee;
  margin: 20px;
}

#posts {
  margin: 5%;
}

#posts .well {
  margin-right: auto;
  margin-left: auto;
}

.viewer-header {
  flex-wrap: wrap;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
